header {
    height: 72px;
    background: #333333;
    color: #b0b0b0;
    ul {
        float: right;
        li {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

footer {
    height: 918px;
    background: #111111;
}